
aiogram==3.22.0
aiosqlite==0.21.0

# Файл requirements.txt содержит список зависимостей,
# которые необходимо установить перед запуском бота.
# Aiogram — асинхронный фреймворк для разработки Telegram‑ботов,
# aiosqlite — асинхронный драйвер для работы с SQLite.
asyncpg
asyncpg==0.29.0
