
aiogram==3.22.0
aiosqlite==0.21.0

# Файл requirements.txt содержит список зависимостей,
# которые необходимо установить перед запуском бота.
# Aiogram — асинхронный фреймворк для разработки Telegram‑ботов,
# aiosqlite — асинхронный драйвер для работы с SQLite.
psycopg[binary]>=3.2
aiogram>=3.5
aiohttp>=3.9
